.navbar
{
    display: flex;
    justify-content: space-between;
    margin: 35px;
}
body{
    /* background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); */
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(backgroundpic.png);
    background-size: cover;
}
#b1
{
    height: 35px;
    width: 60px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
}
#b2
{
    background-color: red;
    color: white;
    border-radius: 5px;
    height: 35px;
    width: 70px;
    padding: 10px;
    border: none;
    margin-left: 10px;
}

.content
{
    color: white;
    text-align: center;
}
.content h1{
    font-size: 50px;
}

.content p{
    font-size: 20px;
}

input{
    height: 50px;
    width: 400px;
    border: 2px;
    border-radius: 5px;
}
#startbut{
    background-color: red;
    color: white;
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 5px;
}
.emailinput
{
    display: flex;
   justify-content: center;
}